*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Varela Round', sans-serif;
}

img{
    width: 100%;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
    background-image: url(../img/reservar.jpg);
}

.post{
    width: 100%;
    max-width: 80rem;
    padding: 20px;
    background-color: rgba(71, 70, 70, 0.5);
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    border-radius: 2rem;
}

.img{
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    transform: translateX(-8rem);
    position: relative;
}

.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 2rem;
}

.item_titulo{
    font-size: 35px;
    text-align: center;
    justify-content: center;
    color: aliceblue;
}
.item-form input{
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, .2);
    outline: none;
    border: none;
    
}
.item_button:hover{
    background-color: aqua;
}

/* ===== RESPONSIVE ===== */

@media screen and (max-width: 1068px){
    .post{
        max-width: 80rem;
    }
    .img{
        min-width: 30rem;
        max-width: 30rem;
    }
}

@media screen and (max-width: 868px){
    .post{
        padding: 2.5rem;
    }
}

@media screen and (max-width: 768px){
    .post{
        padding: 2.5rem;
        flex-direction: column;
    }
    .img{
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -8rem);
    }
}




