<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/92ca3fb065.js" crossorigin="anonymous"></script>
    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- DATA TABLE -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

    <script type="text/javascript">
		$(document).ready(function () {
			//Asegurate que el id que le diste a la tabla sea igual al texto despues del simbolo #
			$('#userList').DataTable();
		});


    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Sistema de ventas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto text-center">

            <!--<li class="nav-item active">
                <a class="nav-link" href="Home.jsp">Home<span class="sr-only">(current)</span></a>
            </li>-->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/reserva/lista}" sec:authorize="isAuthenticated()">Reservas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/mensaje/lista}" sec:authorize="isAuthenticated()">Mensajes de
                    Contacto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/categoria/lista}" sec:authorize="isAuthenticated()">Categorias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/producto/lista}" sec:authorize="isAuthenticated()">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/lista}" sec:authorize="isAuthenticated()">Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/venta/hacerVenta}" sec:authorize="isAuthenticated()">Ventas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  th:href="@{/venta/lista}" sec:authorize="isAuthenticated()">Ventas Generales</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Usuario
                </a>
                <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown"
                    sec:authorize="isAuthenticated()">
                    <!--sec:authorize="isAuthenticated()"-->
                    <li><i class="fas fa-user"></i></li>
                    <li>User: [[${#httpServletRequest.remoteUser}]]</li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="btn btn-danger" th:href="@{/logout}">Cerrar Sesion</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<br>
<h3 class="title text-center">Lista de Reservas</h3>
<br>
<div class="container">
    <a class="btn btn-primary" th:href="@{/reserva/mesas}">Mesas</a>
</div>
<br>
<div class="container">
    <div class="table-responsive">
        <table id="userList" class="table table-bordered table-hover table-striped">
            <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">APELLIDOS</th>
                <th scope="col">TELEFONO</th>
                <th scope="col">FECHA</th>
                <th scope="col">N°PERSONAS</th>
                <th scope="col">N°MESA</th>
                <th scope="col">ACCIONES</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reserva: ${reservaList}">
                <th scope="row" th:text="${reserva.id}"></th>
                <td th:text="${reserva.nombre}"></td>
                <td th:text="${reserva.apellido}"></td>
                <td th:text="${reserva.telefono}"></td>
                <td th:text="${reserva.fecha}"></td>
                <td th:text="${reserva.npersonas}"></td>
                <td th:text="${reserva.mesa.mesa}"></td>
                <td>
                    <a th:href="@{'/reserva/editar'+'/'+${reserva.id}}"><i class="fas fa-edit"></i></a> |
                    <a th:href="@{'/reserva/eliminar'+'/'+${reserva.id}}"><i class="fas fa-user-times"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>