<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/92ca3fb065.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="row justify-content-center">
  <div class="col-md6 col-lg-4">
    <h3 class="h3 text-center">Registro de Usuarios</h3>
    <br>
    <form th:action="@{/user/guardar}" method="post" th:object="${user}">
      <input type="hidden" th:field="*{id}" th:value="${user.id}"/>
      <div class="mb-2">
        <label for="rol">Nombre: </label>
        <input id="rol" type="text" placeholder="Digite el nombre" th:field="*{nombre}"
               class="form-control">
        <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="invalid-feedback"></div>
      </div>
      <div class="mb-2">
        <label for="rol">Apellido Paterno: </label>
        <input id="rol" type="text" placeholder="Digite el apellido Paterno" th:field="*{apellidoPaterno}"
               class="form-control">
        <div th:if="${#fields.hasErrors('apellidoPaterno')}" th:errors="*{apellidoPaterno}" class="invalid-feedback"></div>
      </div>
      <div class="mb-2">
        <label for="rol">Apellido Materno: </label>
        <input id="rol" type="text" placeholder="Digite el apellido Paterno" th:field="*{apellidoMaterno}"
               class="form-control">
        <div th:if="${#fields.hasErrors('apellidoMaterno')}" th:errors="*{apellidoMaterno}" class="invalid-feedback"></div>
      </div>
      <div class="mb-2">
        <label for="rol">Celular: </label>
        <input id="rol" type="text" placeholder="Digite el celular" th:field="*{celular}"
               class="form-control">
        <div th:if="${#fields.hasErrors('celular')}" th:errors="*{celular}" class="invalid-feedback"></div>
      </div>
      <div class="mb-2">
        <label for="rol">Correo: </label>
        <input id="rol" type="email" placeholder="Digite el correo" th:field="*{correo}"
               class="form-control">
        <div th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}" class="invalid-feedback"></div>
      </div>
      <div class="mb-2">
        <label for="rol">Password: </label>
        <input id="rol" type="text" placeholder="Digite el password" th:field="*{password}"
               class="form-control">
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></div>
      </div>
      <div class="form-group">
        <label for="role">Rol : </label>
        <select th:field="*{role}" class="form-control" required>
          <th:block th:each="role : ${roleList}">
            <option th:text="${role.authority}" th:value="${role.id}"></option>
          </th:block>
        </select>
      </div>
      <br>
      <div class="text-end text-center">
        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i>&nbsp;Guardar</button>
        <a href="/user/lista" class="btn btn-primary ms-2"><i class="fas fa-backward"></i>&nbsp;Cancelar </a>
      </div>
    </form>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>